/*css for admin of fisbang */


/* General */
---------------
	.user {
		font-size: 17px;
		color:#63C2E8;
	}

	h1,h2,h3,h4,h5,h6,a{
		font-family: 'rockwell';	
	}

    label {color:#438733;font-weight:200}	

	h1 {margin-bottom: 40px;}

	p, .jumbotron p {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: 200;
		font-size: 18px;

	}

	a {
		color: #0092B9;
	}

	a:hover {
		color: #438733;
	}

	body {color: #000000;}

	.section-subheading {
		margin-top: -30px;
		margin-bottom: 30px;
	}


	p.no-background {
	  text-align: center;	
	  position: relative;
	  overflow: hidden;
	  margin-top: 20px;
	}
	p.no-background span {
	  display: inline-block;
	  vertical-align: baseline;
	  zoom: 1;
	  *display: inline;
	  *vertical-align: auto;
	  position: relative;
	  padding: 0 20px;
	}
	p.no-background span:before,
	p.no-background span:after {
	  content: '';
	  display: block;
	  width: 1000px;
	  position: absolute;
	  top: 0.73em;
	  border-top: 1px solid #214B19;
	}
	p.no-background span:before {
	  right: 100%;
	}
	p.no-background span:after {
	  left: 100%;
	}




/* only for web 
-----------------*/

/* top nav */

	.navbar {
		background-color: #ffffff;
		color: #FFFFFF;
		font-family: 'rockwell';
		font-size: 17px;
		height: 60px;
		/*padding-top: 10px;*/
	}


	.navbar-nav>li>a {
		/*color: #000000;*/
		padding: 6px,12px;	
		/*padding: 10px;*/
	}

	.navbar-nav>li.active, .active{
		color: #438733;
		background-color: #eeeeee;
		border-bottom:0px solid transparent;		
	}	

	.navbar-nav>li{
		border-bottom:0px solid transparent;
	}

	.navbar-toggle{
		margin: 10px 0 0 0;
	}

	.navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}

	.navbar-right {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.navbar-collapse {
		padding-right: 0;
	}

	.nav > li > a:hover, .nav > li > a:focus {
    	text-decoration: none;
    	background:#ffffff;
    	color: #438733;
    }
    	
    .nav-pills > li > a {
    	border-radius: 0;
    }

    .nav > li > a {
    	position: relative;
    	display: block;
    	padding: 6px 10px;
	}

	.navbar-brand img {
		max-height: 30px;
	}

/*background conf*/

	.back-footer {background-color: #D2DAB3;color: #000000;}
	.back-home{
	    background: #60a89d;
	    background-image: url('../img/web/img-back-7.png');
	    background-position: center bottom;
	    background-repeat: no-repeat;
	    width: 100%;
	    min-height: 650px;
	}

	#dynamic {
		background-color: #ffffff;
		text-align: center;
	}

	#Promote {
		background-color: #ffffff;
	}  

	#project, #app {
		background-color: #D2DAB3;
	}	


	#home {
	    background: #42AC40;
	    background-image: url('../img/back-home.png');
	    background-position: center bottom;
	    background-repeat: repeat-x;
	    width: 100%;
	    min-height: 650px;
	    color:#0087AF;
	    text-align: center;
	}	


	#market {
	    background:#57BBE2;
	    min-height: 650px;
	    color:#ffffff;}	

	#login {
	    min-height: 650px;
	    padding-top: 80px;
	    }

	.back-login {
    	background-color: rgb(248, 248, 248);
	}        

	#steps {
		background: #0087AF;
		color: #ffffff;
	} 

    	

/*	general */    
	.jumbotron {
		background: none;
		color: #000000;
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 0;
	}


	.white{
		color: #273C65;
	}

	.container .jumbotron{
		padding-left: 0;
		padding-right: 0;
	}

	.non-jumbotron, footer {
		padding-top: 40px;
		padding-bottom: 40px;
		border-bottom: 1px solid #CCCCCC;
	}

	#landing-content, #landing-app {
		padding-top: 40px;
	}

	footer .useful-link li a {color: #000000;}

	footer img {
		padding-top: 20px;
		max-width: 60px;
	}

	footer {
  		margin-left: 0;
  		background: #504f63;
  		color: #d5d4dd;
  		padding-left: 0;
		padding-right: 0;
	}

/* form */

	input[type="checkbox"], input[type="radio"] {
	    opacity: 100;
	    position: absolute;
	    width: 15px;
	    height: 15px;
	    z-index: 2;
	    cursor: pointer;
	    margin: 0px 0px 0px;
	}

	.uneditable-input, input[type="color"], input[type="date"], input[type="datetime-local"], input[type="datetime"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
	    font-size: 17px;
	    border-radius: 0px;
	    margin: 0px;
	}

	textarea {
	    padding:3%;    
		font-size:17px;	
		 border: 1px solid #eeeeee;
	    border-radius:2px;
	    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}

	.form-fsbg {
	    display: block;
	    width: 100%;
	    padding: 10px 20px;
	    font-size: 17px;
	    line-height: 1.42857;
	    color: rgb(85, 85, 85);
	    background-color: rgb(255, 255, 255);
	    background-image: none;
	    border-radius:0px;
	    border: 2px solid #eeeeee;
	    
    }    

	.full{
		width: 100%;
		text-align: center;
	}

	.top-border {
		border-top: 1px solid #eeeeee;
	}


	textarea { 
	    
	    width:100%; 
	    height:10em; 
	    line-height:1.42857143;
	    color:#555;
	    background-image:none;

	}    

	.button{
		width:100%;
		background-color:#0092B9;
		display:block;
		text-decoration:none;
		color:#fff;
		cursor:pointer;
		transition:background .3s;
		-webkit-transition:background .3s;
		font-family: 'rockwell';
		font-size: 17px;
		font-weight: 20;
	}

	.btn-fsbg {
		/*padding:3%; */
		display: inline-block;
		background-color:#0092B9;
		font-family: 'rockwell';
		font-size: 17px;
		color: #ffffff;
		padding: 10px 20px;
		border: 0px solid;
		border-bottom: 2px solid #57BBE2;
	}

	.btn-login {

		display: inline-block;
		background-color:#ffffff;
		font-family: 'rockwell';
		font-size: 17px;
		color: #0092B9;
		padding: 10px 20px;
		border: 0px solid;
		margin-right: 10px;
		/*border-bottom: 2px solid #57BBE2;*/
	}

	.nav.btn-fsbg > li > a:hover, .nav.btn-fsbg > li > a:focus,
	.button:hover, .btn-fsbg:hover, a.btn-fsbg:hover,nav > li > a.btn-fsbg:hover {
	  background:#438733;
	  color: #ffffff;
	  border-bottom: 2px solid #214B19;

	}

	input[type="email-sub"] {
		float: left;
		width: 70%;
	}
	.buttonright {
		float: right;
		width: 28%;
	}

	.btn.btn-primary.active, .btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover {
    background: #343E4E none repeat scroll 0% 0%;
    transition: all 0.3s ease 0s;
    color: #ffffff;
	}

	.btn.btn-primary {

    border: 1px solid #EEE;
    background: #ffffff;
    color:#000000;
    padding: 12px 24px;
    margin: 10px;
	}

/* subscribe */	

	.subscribe {
		left: 0;
  		right: 0;
  		bottom: 0;
  		top: 0;
  		margin: auto;
  		width: auto;
  		height: 47px;
  		background: #fff;
  		border-radius: 5px;
	}

	.text-sub{
		position: absolute;
  		left: 20px;
  		padding-top: 10px;
  		font-size: 1.5em;
  		color: #e9625b;
  		pointer-events: none;
  		-webkit-transition: opacity 0.25s ease, -webkit-transform 0.35s ease;
          transition: opacity 0.25s ease, transform 0.35s ease;
	}

	input[type="email-sub"] {
		float: left;
		height: 100%;
		width: 70%;
		border: 0;
		outline: none;
		font-size: 1.5em;
		padding-left: 10px;
		padding-right: 10px;
		color: grey;
	}

	.move-btn {
  -webkit-transform: translateX(-280px);
      -ms-transform: translateX(-280px);
          transform: translateX(-280px);
	}

	.text-sub-active {
  	opacity: 1 !important;
  -webkit-transform: translateX(120px);
      -ms-transform: translateX(120px);
          transform: translateX(120px);
}


/* market */

	#portfolio img {
		width: 100%;
	}

	.portopolio-caption {
		padding: 10px;
		background-color: #ffffff;
		height: 250px;
		
	}

	.portopolio-caption h4 {
		color: #CCCCCC;
	}

	.product {
		border-bottom: 2px #438733 solid;
	}

	.service {
		border-bottom: 2px #57BBE2 solid;
	}

	#portfolio .portfolio-item {
        right: 0;
        margin: 0 0 15px;
    }

    #portfolio .portfolio-item .portfolio-link {
        display: block;
        position: relative;
        margin: 0 auto;
        /*max-width: 400px;*/
    }

    #portfolio .portfolio-item .portfolio-link .portfolio-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: rgba(67,135,51,.9);
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        transition: all ease .5s;
    }

    #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
        opacity: 1;
    }

    #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 20px;
        margin-top: -12px;
        text-align: center;
        font-size: 20px;
        color: #fff;
    }

    #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
        margin-top: -12px;
    }

    #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
    #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
        margin: 0;
    }

    #portfolio .portfolio-item .portfolio-caption {
        margin: 0 auto;
        padding: 25px;
        max-width: 400px;
        text-align: center;
        background-color: #fff;
    }

    #portfolio .portfolio-item .portfolio-caption h4 {
        margin: 0;
        text-transform: none;
    }

    #portfolio .portfolio-item .portfolio-caption p {
        margin: 0;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-style: italic;
    }

    #portfolio * {
        z-index: 2;
    }


/* for admin 
---------------*/

/* for top navigation */


	#top-nav {
		background-color: #ffffff;
		color: #FFFFFF;
		margin-left: 194px;
		font-family: 'rockwell';
		height: auto;
	}

	#top-nav .brand:focus, #top-nav .brand:hover {
		color: #438733;
	}

	#top-nav .nav-notification{
		font-size:17px;
		line-height: 120%; 
	}

	#wrapper.sidebar-hide #top-nav{margin-left:0}

	.dropdown-menu {
		background-color: #F9F9F9;
		font-size: 12px;
	}

	.dropdown-menu>li>a{
		display:block;
		padding:10px 20px;
		clear:both;
		font-weight:0;
		line-height:100%;
		color:#333;
		white-space:nowrap
	}

	.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{
		text-decoration:none;
		background-color:#57BBE2;
	}

	.dropdown-menu .text{
		margin-left: 10px;
	}

	.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{
		color:#fff;
		text-decoration:none;
		background-color:#57BBE2;
		outline:0;
	}

	#top-nav .nav-notification>li.profile .dropdown-menu li:not(:first-child) a:focus,#top-nav .nav-notification>li.profile .dropdown-menu li:not(:first-child) a:hover{
		transform:scale(1.0);
		-webkit-transform:scale(1.0);
		-moz-transform:scale(1.0);
		-ms-transform:scale(1.0);
		-o-transform:scale(1.0);
		background-color:#57BBE2;
		color:#fff;
  }	
    
    #top-nav .navbar-toggle {
    	margin : 2px 0 2px 0;
    }
	
	#top-nav .navbar-toggle.hide-menu {
		margin-top: 0px;
	}

	.navbar-toggle {
		padding: 10px;
	}

	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
		background-color: #ffffff;
	}

/* sidebar */


	.alert.alert-info{color:#ffffff;background:#42AC40;;border:1px solid #6bafbd}

	aside {
	  background-color: #273C65;
	  font-family: 'rockwell';
	  padding-top: 10px;
	}
	aside .brand {
	  background: #3e6b96;
	  color: #D6E8F7;
	  border-bottom-color: #4577A5;
	}
	aside .size-toggle {
	  border-bottom-color: #396389;
	  box-shadow: 0 1px 0 #4577a5;
	  -moz-box-shadow: 0 1px 0 #4577a5;
	  -webkit-box-shadow: 0 1px 0 #4577a5;
	}
	aside .size-toggle .btn {
	  color: #D6E8F7;
	}
	aside .size-toggle .btn:hover,
	aside .size-toggle .btn:focus {
	  color: #fff;
	}
	aside .size-toggle .btn .icon-bar {
	  background-color: #D6E8F7;
	}
	aside .sidebar-inner {
	  border-right-color: #396389;
	}
	aside .sidebar-inner .user-block {
	  border-bottom-color: #396389;
	  box-shadow: 0 1px 0 #4577a5;
	  -moz-box-shadow: 0 1px 0 #4577a5;
	  -webkit-box-shadow: 0 1px 0 #4577a5;
	  text-align: center;
	}

	aside .sidebar-inner .user-block img, 	aside .sidebar-inner .user-block .detail {
		float:none;
	}

	aside .sidebar-inner .user-block img {
		width: 80px;
		height: 80px;
		margin-bottom: 10px;
	}	
	

	aside .sidebar-inner .user-block .detail {
	  color: #D6E8F7;
	}
	aside .sidebar-inner .user-block ul li a {
	  color: #D6E8F7;
	}
	aside .sidebar-inner .user-block ul li a:hover,
	aside .sidebar-inner .user-block ul li a:focus {
	  color: #fff;
	}
	aside .sidebar-inner .search-block {
	  border-bottom-color: #396389;
	  box-shadow: 0 1px 0 #4577a5;
	  -moz-box-shadow: 0 1px 0 #4577a5;
	  -webkit-box-shadow: 0 1px 0 #4577a5;
	}
	aside .sidebar-inner .search-block input[type="text"],
	aside .sidebar-inner .search-block .btn {
	  background: #fff;
	  color: #777;
	  border-color: #dfdfdf;
	}
	aside .main-menu > ul > li {
	  border-top-color: #273C65;
	  border-bottom-color: #273C65;
	}
	aside .main-menu > ul > li.active,
	aside .main-menu > ul > li.display {
	  border-top-color: #0087AF;
	}
	aside .main-menu > ul > li.active > a,
	aside .main-menu > ul > li.display > a {
	  background: #0087AF;
	  color: #fff;
	}
	aside .main-menu > ul > li > a {
	  color: #D6E8F7;
	}
	aside .main-menu > ul > li > a:hover,
	aside .main-menu > ul > li > a:focus {
	  background: #0087AF;
	  color: #fff;
	}
	aside .main-menu > ul > li > a .menu-hover {
	  background: #0087AF;
	  box-shadow: 0 0 10px 0px #ffffff;
	  -moz-box-shadow: 0 0 10px 0px #ffffff;
	  -webkit-box-shadow: 0 0 10px 0px #ffffff;
	}
	aside .main-menu > ul > li > .submenu  li  a{
	  background-color: #4577a5;
	}
	aside .main-menu > ul > li > .submenu  li a .submenu-label{
	  color: #D6E8F7;
	}
	aside .main-menu > ul > li > .submenu  li a:hover .submenu-label,
	aside .main-menu > ul > li > .submenu  li a:focus .submenu-label {
	  color: #fff;
	}
	aside .main-menu > ul > li > .submenu  li.active a{
	  background: #396389;
	}
	aside .main-menu > ul > li > .submenu  li.active a .submenu-label{
	  color: #fff;
	}
	@media (max-width: 767px)   {
	    aside .main-menu > ul > li > .dropdown-menu li a {
	       color: #d6e8f7;
	    }
	    
	    aside .main-menu > ul > li > .dropdown-menu li a:hover 
	    ,aside .main-menu > ul > li > .dropdown-menu li a:focus {
	        color: #fff;
	        background: #396389;
	    }
	}
	