<div ng-controller="ApplianceDetailCtrl">
  <form ng-submit="updateAppliance()">
    <input type="text" ng-model="appliance.name" name="name" />
    <select ng-model="appliance.environment" ng-options="option.name for option in environments track by option.id">
      <!-- <option ng-repeat="env in environments" ng-value="{{env.id}}">{{env.name}}</option> -->
    </select>
    <button type="submit" id="submit">Update</button>
    <button ng-click="deleteAppliance()">Delete</button>
  </form>

  <div>
    <span>Devices</span>
    <table border="1">
      <tr>
        <td>Token</td>
      </tr>
      <tr ng-repeat="device in appliance.devices">
        <td><span ng-click="toDeviceDetail(device.id)">{{ device.token }}</span></td>
      </tr>
    </table>
  </div>

</div>
