<div ng-controller="EnvironmentDetailCtrl">
  <form ng-submit="updateEnvironment()">
    <input type="text" ng-model="environment.name" name="name" />
    <select ng-model="environment.parent" ng-options="option.name for option in environments track by option.id">
      <!-- <option ng-repeat="env in environments" ng-value="{{env.id}}">{{env.name}}</option> -->
    </select>
    <button type="submit" id="submit">Update</button>
    <button ng-click="deleteEnvironment()">Delete</button>
  </form>


  <div>
    <span>Appliances</span>
    <table border="1">
      <tr>
        <td>Name</td>
      </tr>
      <tr ng-repeat="appliance in environment.appliances">
        <td><span ng-click="toApplianceDetail(appliance.id)">{{ appliance.name }}</span></td>
      </tr>
    </table>
  </div>
  
  <div>
    <span>Devices</span>
    <table border="1">
      <tr>
        <td>Token</td>
      </tr>
      <tr ng-repeat="device in environment.devices">
        <td><span ng-click="toDeviceDetail(device.id)">{{ device.token }}</span></td>
      </tr>
    </table>
  </div>

</div>
